mixin panel(heading, tags, tagLabel, siteLink, codeLink, image)
  .row.g-0.panel
    .col-md-7.panel-body
      h2= heading
      ul(aria-label=tagLabel).tags
        each tag in tags
          li= tag
      .panel-links
        .mb-1
          a(href=siteLink) View Website
        .mb-1
          a(href=codeLink) View Code
    .col-md-5.panel-image
      // Image conveys information already stated in panel so aria hiding
      img(src=image alt='' aria-hieen='true')